				/* Degradado para el fondo de la página */
				body {
                    background: linear-gradient(135deg, #6d7379, #252b31);
				    min-height: 100vh;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    margin: 0;
				}

				/* Estilo para el formulario de registro */
				.register-section {
				    background: linear-gradient(135deg, #020304, #020304);
				    color: white;
				    padding: 20px;
				    width: 30rem;
				    position: relative;
				    border: none;
				    /* Sin bordes redondeados */
				}

				.register-section button {
				    background-color: #CC9E61;
				}

				.register-section a {
				    color: #CC9E61;
				}

				.register-section a:hover {
				    color: #f4bf8a;
				}

				/* Imagen en una esquina */
				.register-section img {
				    position: absolute;
				    top: 10px;
				    left: 10px;
				    width: 50px;
				    height: 50px;
				}

				.back-button {
				    background-color: #020304;
				    width: 30rem;
				    margin-top: 1rem;
				    border: none;
				}

				.back-button a {
				    color: white;
				    text-decoration: none;
				}