		/* Degradado para el fondo de la página */
		body {
			background: linear-gradient(135deg, #6d7379, #252b31);
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
		}

		/* Estilo para el formulario de login */
		.login-section {
			background: linear-gradient(135deg, #020304, #020304);
			color: white;
			padding: 20px;
			width: 20rem;
			position: relative;
			border: none;
			
		}

		.login-section button {
			background-color: #CC9E61;
		}

		.login-section a {
			color: #350699;
		}

		.login-section a:hover {
			color: #330c88;
		}

		/* Imagen en una esquina */
		.login-section img {
			position: absolute;
			top: 10px;
			left: 10px;
			width: 50px;
			height: 50px;
		}

		.back-button {
			background-color: #020304;
			width: 20rem;
			margin-top: 1rem;
			border: none;
		}

		.back-button a {
			color: white;
			text-decoration: none;
		}